@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
    font-family: 'Caveat', cursive;
    line-height: 1.5;
    font-weight: 400;
    font-size: 20px;

}

* {
    box-sizing: border-box;
    overflow-x: hidden;
}

h1,
h2 {
    font-size: 2.75em;
    line-height: 1.1;
    font-family: 'ADLaM Display', cursive;
}

p,label {
    font-size: 105%;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    overflow-x: hidden;
}